# Enabling for Conversion to/from Pandas

In [3]:
import numpy as np  # type: ignore[import]
import pandas as pd  # type: ignore[import]
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

# Enable Arrow-based columnar data transfers

In [4]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

# Generate a Pandas DataFrame

In [5]:
pdf = pd.DataFrame(np.random.rand(100, 3))

# Create a Spark DataFrame from a Pandas DataFrame using Arrow

In [6]:
df = spark.createDataFrame(pdf)

# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow

In [7]:
result_pdf = df.select("*").toPandas()

In [8]:
result_pdf

           0         1         2
0   0.360305  0.168711  0.130761
1   0.183554  0.884819  0.368780
2   0.233076  0.321375  0.411403
3   0.866633  0.247590  0.702842
4   0.983980  0.223521  0.375173
..       ...       ...       ...
95  0.379093  0.962261  0.201708
96  0.320539  0.064010  0.744991
97  0.169182  0.823393  0.991336
98  0.246143  0.994671  0.445751
99  0.393866  0.618729  0.288639

[100 rows x 3 columns]

In [9]:
spark.stop()